footer
  .container.text-center
    p.pull-left © 2018 Dylan Richardson. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/drich14/name-that-tune') GitHub Project
      li
        a(href='https://github.com/drich14/name-that-tune/issues') Issues
